<!DOCTYPE html>
<html xmlns:th="http://www.thylmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<ul>
    <li>
        <a th:href="@{/variables/string/} + 'Hola Carlos'">/variables/string/} +c'Hola Carlos'"</a>
    </li>
    <li>
        <a th:href="@{/variables/string/} + 'Que  tal Carlos'">/params/string/} + 'Que  tal Carlos'"</a>
    </li>

    <li>
        <a th:href="@{/variables/string/} + 'Saludos Carlos' + '/' + 7">/variables/string} + 'Saludos Carlos' + '/' + 7</a>
    </li>


    </ul>
</body>
</html>